<head xmlns:component="http://www.w3.org/1999/xhtml" xmlns:component="http://www.w3.org/1999/xhtml">
  <title>Student List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
  <h1>Liste des étudiants en fonction de leur promotion </h1>

  <div class="form-group">
    <label class="col-md-4 control-label" for="Promotion">Promotion</label>
    <div class="col-md-4">
      <select [(ngModel)]="promotionChoisie" (ngModelChange)="findStudents()" id="promotion"> Choisir une promotion
        <option [value]="promotion.getId()" *ngFor="let promotion of this.promotions">
          {{promotion.getWording()}}
        </option>
      </select>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class = "col-auto">
      <table class = "table table-bordered table-responsive">
        <thead class = "thead-dark">
        <tr>
          <th>ÉtudiantID</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Groupes</th>
          <th>Promotions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of this.students">
          <th><a routerLink="/student/{{student.getNumber()}}">{{student.getNumber()}}</a></th>
          <th>{{student.getFirstName()}}</th>
          <th>{{student.getLastName()}}</th>
          <th>{{student.getGroup().getWording()}}</th>
          <th>{{student.getGroup().getPromotion().getWording()}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
