<head>
  <title>Créer Etudiant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">
  <form #studentForm="ngForm" (ngSubmit)="createStudent(studentForm)" class="form-horizontal">
    <fieldset>
      <h3 style="text-align:center">Nouvel étudiant</h3>

      <div class="form-group">
        <label class="col-md-4 control-label" for="Id_Student">Numéro étudiant</label>
        <div class="col-md-4">
          <input [(ngModel)]="numberEtud" id="Id_Student" name="Id_Student" type="text" class="form-control input-md" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="nomE">Nom</label>
        <div class="col-md-4">
          <input [(ngModel)]="nameEtud" id="nomE" name="nomE" type="text" class="form-control input-md" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="prenom">Prénom : </label>
        <div class="col-md-4">
          <input [(ngModel)]="lastNameEtud" id="prenom" name="prenom" type="text" class="form-control input-md" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="Promotion">Promotion</label>
        <div class="col-md-4">
          <select [(ngModel)]="promotionId" (ngModelChange)="findGroups()" id="promotion" name="promotion">
            <option [value]="promotion.getId()" *ngFor="let promotion of this.promotions">
              {{promotion.getWording()}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="Groupe">Groupe</label>
        <div class="col-md-4">
          <select [(ngModel)]="selectedGroup" id="Groupe" name="Groupe">
            <option [value]="group.getId()" *ngFor="let group of this.selectedGroups">
              {{group.getWording()}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" >Sélectionnez une photo</label>
        <input type = "file" (change)="onFileSelected($event)">
      </div>

      <div class="form-group">
        <a> Les fichiers doivent avoir les extensions suivantes : jpeg, png et pgm</a>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button id="button1id" name="button1id" class="btn btn-success">Valider</button>
          <button id="button2id" name="button2id" class="btn btn-danger" (click)="resetForm(studentForm)" >Vider le formulaire </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</body>
