<head>
  <title>Chercher une feuille de Présence </title>
</head>

<body>
<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <h3 style="text-align:center">Feuilles de présence </h3>

      <div class="row">
        <div class = "col-sm-12 col-md-12 col-lg-12">
          <ul>
            <li *ngFor="let timesheet of this.timesheets">
                {{timesheet.getWording()}} le {{timesheet.getDate()}}
                <ul>
                  <li *ngFor="let presence of timesheet.getPresence()" >
                    {{presence.getPresent()}} {{presence.getStudent().getFirstName()}} {{presence.getStudent().getLastName()}}
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</body>
