<head>
  <title>Reconnaître un étudiant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <h3 style="text-align:center">Reconnaître une étudiant</h3>

      <div class="form-group">
        <label class="col-md-4 control-label" >Sélectionner une photo</label>
        <input type = "file" (change)="onFileSelected($event)">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" >Prendre une photo avec la webcam</label>
        <button (click)="startCamera()" [hidden]="camOpen == true">Ouvrir caméra</button>
        <button id="snap" (click)="capture()" [hidden] = "camOpen == false">Prendre Photo</button>
        <button id = "stopCam" (click)="stopCamera(constraints)" [hidden] = "camOpen == false">Arrête Caméra</button>
        <div class="p-1">
          <video #video class="vid" autoplay></video>
          <canvas #canvas class="vid"></canvas>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button id="button1id" name="button1id" class="btn btn-success">Valider</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
</body>
