<head>
  <title>Student List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
  <h1>Liste des étudiants en fonction de leur groupe</h1>

  <div class="form-group">
    <label class="col-md-4 control-label" for="group">Groupe </label>
    <div class="col-md-4">
      <select [(ngModel)]="groupChoisi" (ngModelChange)="findStudents()" id="group"> Choisir un groupe
        <option [value]="group.getId()" *ngFor="let group of this.groups">
          {{group.getWording()}}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <ul>
        <li *ngFor="let student of this.students">
          {{student.getNumber()}} {{student.getFirstName()}} {{student.getLastName()}} {{student.getGroup().getWording()}}
          {{student.getGroup().getPromotion().getWording()}}
        </li>
      </ul>
    </div>
  </div>

</div>
</body>
