<head>
  <title>Student List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
  <h1>Liste des étudiants en fonction de leur groupe</h1>

  <div class="form-group">
    <label class="col-md-4 control-label" for="group">Groupe </label>
    <div class="col-md-4">
      <select [(ngModel)]="groupChoisi" (ngModelChange)="findStudents()" id="group"> Choisir un groupe
        <option [value]="group.getId()" *ngFor="let group of this.groups">
          {{group.getWording()}}
        </option>
      </select>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class = "col-auto">
      <table class = "table table-bordered table-responsive">
        <thead class = "mat-tab-group-inverted-header">
        <tr>
          <th>ÉtudiantID</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Groupes</th>
          <th>Promotions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of this.students">
          <th [routerLink]=['/student',student.getNumber()>{{student.getNumber()}}</th>
          <th>{{student.getFirstName()}}</th>
          <th>{{student.getLastName()}}</th>
          <th>{{student.getGroup().getWording()}}</th>
          <th>{{student.getGroup().getPromotion().getWording()}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</body>
