<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="jumbotron text-center">
  <h1>Projet: Face Recognition</h1>
  <p>Participant: Anh, Bastien, Yaelle, Edgar, Maïmouna </p>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <h3><a routerLink="/studentForm">Ajouter Etudiant</a></h3>
    </div>

    <div class="col-sm-4">
      <h3><a routerLink="/timesheets">Accéder aux feuilles de présence</a></h3>
    </div>

    <div class="col-sm-4">
      <h3><a routerLink="/recognition">Reconnaître un étudiant</a></h3>
    </div>

    <div class="col-sm-4">
      <h3>Liste des étudiant </h3>
      <h4><a routerLink="/group">Par groupe </a></h4>
      <h4><a routerLink="/promotion">Par promotion </a></h4>
    </div>

    <div class="col-sm-4">
      <h3><a routerLink="/addPhoto"> Ajouter une photo à un étudiant </a></h3>
    </div>

  </div>
</div>
</body>


<router-outlet></router-outlet>
