<head>
  <title>Information de l'étudiant </title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
          <h5>{{student.getFirstName()}} {{student.getLastName()}}</h5>
          <h6>
            Université de Rennes 1
          </h6>
          <p>Faculté: ISTIC</p>
        </div>
    </div>
     <div class="row justify-content">
    <div class = "col-auto">
      <table class = "table table-bordered table-responsive">
        <tr>
          <th>ID Étudiant</th>
          <td>{{student.getNumber()}}</td>
        </tr>
        <tr>
          <th class="info">Nom</th>
          <td>{{student.getLastName()}}</td>
        </tr>
        <tr>
          <th class="info">Prénom</th>
          <td>{{student.getFirstName()}}</td>
        </tr>
        <tr>
          <th class="info">Groupe</th>
          <td>{{student.getGroup()}}</td>
        </tr>
        <tr>
          <th class="info">Promotion</th>
          <td>{{student.getGroup().getPromotion()}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
